table {
    border-collapse: collapse;
    border: 1px black;

}

tr {
    text-align: center;
    background-color: rgb(252, 42, 105);
    border: 1px solid grey;
}

td {
    border: 1px solid grey;
}
