body {
    padding: 30px;
    /*border: 3px solid red;*/
}

.octopus {
    /*border: 3px solid red;*/
    max-width: 1200px;
    height: 500px;
    position: relative;
}


.octopus__head--size {
    max-width: 350px;
    height: 430px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.octopus__head {
    background-color: rgb(136, 240, 76);
    border: 3px solid black;
}

.octopus__tentacles {
    /*border: 3px solid green;*/
    height: 500px;
    left: 356px;
    top: -430px;
    position: relative;
    max-width: 600px;
}

.tentacles__box {
    max-width: 500px;
    border: 3px solid black;
    height: 30px;
    margin-top: 3px;
    position: relative;
}


.tentacles__now {
    background-color: rgb(136, 240, 76);
    height: 30px;
    white-space: nowrap;
    text-align: left;
}

.tentacles__future {
    background-color: coral;
    height: 30px;
    position: relative;
    top: -30px;
    z-index: -1;
}

@media (max-width:1200px){

    .tentacles__box{
        max-width: 400px;
    }

    .octopus__head--size{
        max-width: 250px;
    }

    .octopus__tentacles{
        left: 256px;
    }

}

@media (max-width: 992px){

    .tentacles__box{
        max-width: 3500px;
    }

    .octopus__head--size{
        max-width: 200px;
    }

    .octopus__tentacles{
        left: 206px;
    }

}



.tentacles__now--1 {
    width: 30px;
}

.tentacles__future--1 {
    width: 50px;
}

.tentacles__now--2 {
    width: 60px;
}

.tentacles__future--2 {
    width: 80px;
}

.tentacles__now--3 {
    width: 60px;
}

.tentacles__future--3 {
    width: 80px;
}

.tentacles__now--4 {
    width: 60px;
}

.tentacles__future--4 {
    width: 80px;
}

.tentacles__now--5 {
    width: 60px;
}

.tentacles__future--5 {
    width: 80px;
}

.tentacles__now--6 {
    width: 60px;
}

.tentacles__future--6 {
    width: 80px;
}

.tentacles__now--7 {
    width: 60px;
}

.tentacles__future--7 {
    width: 80px;
}

.tentacles__now--8 {
    width: 60px;
}

.tentacles__future--8 {
    width: 80px;
}

.tentacles__now--9 {
    width: 60px;
}

.tentacles__future--9 {
    width: 80px;
}

.tentacles__now--10 {
    width: 60px;
}

.tentacles__future--10 {
    width: 80px;
}

.tentacles__now--11 {
    width: 60px;
}

.tentacles__future--11 {
    width: 80px;
}
